<header>
    <!--Navbar-->

    <!-- Navbar -->
    <!-- Full Page Intro rgba-indigo-strong justify-content-center align-items-center -->
    <div class="view" style="background-image: url('../../../assets/saltLakeStockExchange.JPG'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask d-flex  ">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row pt-5 mt-5">
            <!--Grid column-->
            <div class="col-md-6 mb-5 mt-md-0 mt-1 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
              <h1 class="display-4 font-weight-bold">Historic Utah Banks</h1>
              <hr class="hr-light">
              <h6 class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
                fuga
                nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea
                dolor molestiae, quisquam iste.</h6>
              <a mdbBtn color="white" outline="true" mdbWavesEffect>Learn more</a>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4 ">
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body class="z-depth-2">
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="  ">
                      <strong>Discover</strong>
                    </h3>
                    <hr>
                  </div>
                  <!--Body-->
                  <!--
                 <ul class='list-group'>

                    <li class='list-group-item'>Spring</li>
                   <li class='list-group-item'>Summer</li>
                   <li class='list-group-item'>Fall</li>
                   <li class='list-group-item'>Winter</li>
                 </ul>
                 -->
                 <ul class='list-group'>

                    <li class='list-group-item  '>Mountains<mdb-icon class="ml-3" fas icon="mountain"></mdb-icon></li>
                   <li class='list-group-item   '>Lakes<mdb-icon class="ml-3" fas icon="cloud"></mdb-icon></li>
                   <li class='list-group-item   '>Rivers<mdb-icon class="ml-3" fas icon="water"></mdb-icon></li>
                   <li class='list-group-item   '>Trails<mdb-icon class="ml-3" fas icon="hiking"></mdb-icon></li>
                   <li class='list-group-item   '>Campgrounds<mdb-icon class="ml-3" fas icon="camping"></mdb-icon></li>
                   <li class='list-group-item '>Special Attractions<mdb-icon class="ml-3" fas icon="certificate"></mdb-icon></li>
                 </ul>
                </mdb-card-body>
              </mdb-card>
              <!--/.Form-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->

